body {
  background-color: #bdbdbd;
  /* background-image: url("https://www.transparenttextures.com/patterns/cream-dust.png"); */
  /* background-image: url("https://www.transparenttextures.com/patterns/blizzard.png"); */
  /* background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png"); */
  /* background-image: url("../../public/arches.png"); */
}

.App {
  /* background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png"); */
  /* background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png"); */
/* This is mostly intended for prototyping; please download the
 pattern and re-host for production environments. Thank you! */
  /* min-height: 100vh; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}


.btn-default:focus {
  outline: none;
  box-shadow: none;
}

.timeDomGraph {
  outline: black 3px solid;
}