
/* === HTML ===


*/

@font-face {
    font-family: 'Jua';
    src: local('MyFont'), url(../assets/fonts/Jua-Regular.ttf) format('truetype');
}

html, body {
    background-color: #fafafa;
    height: 100vh;
}

.App {
    height: 100vh;
    display: flex;
}

/* ===== Layout ======



*/

/* ===== Components ======



*/

.alert {
    /* margin: 1rem; */
    display: inline-block;
    max-width: 550px;
    width: 100%;
}

/* ===== Dashboard ======




*/



/* ======= Dashboard Components =======



*/

.recorder {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    /* width: 400px !important; */
    padding: 20px;
}

.recorder-controls {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 175px;
}

.timeDomGraph {
    flex: 1;
    height: 100%;
    width: 100%;
}

.simple-component {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    height: 100%;
    /* width: 400px !important; */
    padding: 20px;
}


/* ======== Midi Mouth ======= 



*/

.midi-app {
    height: 100vh;
    width: 100%;
    /* ensures app takes up all of screen */
    display: flex;
    flex-flow: row nowrap;
    /* justify-content: center; */
    align-items: stretch;

}

.midi-main {
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-center;
    align-items: center;
    /* width: 400px !important; */
    padding: 20px;
    flex: 1;
    /* fill remaining space */
}

.midi-header {
    margin-bottom: 20px;
}

.midi-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: fit-content;
}

.midi-form-label {
    font-size: 20px;

    margin-bottom: -5px;
}

.midi-advanced-options {
    padding: 20px;
}