/* styles for the app */

/* 
  retro colors: https://www.schemecolor.com/retro-vintage.php 
*/

:root {

    --main-bg-color: #E2D7A7;
    --primary-color: #A16B56;
    --light-accent: #E0A370;
    --dark-accent: #567D89;
    --highlight-color: #DEC584;
  }

/* === HTML ===


*/

@font-face {
    font-family: 'Jua';
    src: local('MyFont'), url(../assets/fonts/Jua-Regular.ttf) format('truetype');
}

html, body {
    height: 100vh;
    width: 100vw;
}



/* ===== App Layout ======



*/

.App {
    background-color: var(--main-bg-color);

    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.box-body {
    background-color: var(--primary-color);
    height: 90vh;
    width: 56.28vw;
    /* max-width: 1000px; */

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    /* flex- */
}

.info-section {
    background-color: var(--dark-accent); 
    width: 90%;
    min-height: 50%;
    /* padding: 20px 5px; */
}

.display-section {
    background-color: var(--light-accent);
    width: 90%;
    min-height: 10%;
}

.button-section {
    background-color: var(--highlight-color);
    width: 90%;
    min-height: 25%;
    /* margin: 20px 5px 2px 5px; */
}


@media only screen and (max-width: 500px) { 
    .box-body {
        min-width: 100vw;
        /* width:100vw; */
    }
}
 @media only screen and (max-height: 800px) { 
    .box-body {
        height:100vh;
    }
    .display-section {
        max-height: 0%;
        height: 0%;
    }
}


/* ===== App Components ======



*/

.alert {
    display: inline-block;
    max-width: 550px;
    width: 100%;
}

.alert-text {
    color: red;
}

.loading-display {
    text-align: center;
}

.inactive-display {
    text-align: center;
}


/* ======= Dashboard Components =======



*/

.recorder {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.recorder-controls {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 175px;
}

.timeDomGraph {
    flex: 1;
    height: 100%;
    width: 100%;
}

.simple-component {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    text-align: center;

    height: 100%;
    padding: 20px;
}

.tuner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    text-align: center;

    height: 100%;
    padding: 20px;
}
.tuner-header {
    padding: 15px;
}


/* ======== Midi Mouth ======= 



*/

.midi-app {
    height: 100vh;
    width: 100%;
    /* ensures app takes up all of screen */
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

}

.midi-main {
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-center;
    align-items: center;
    padding: 20px;
    flex: 1;
}

.midi-header {
    margin-bottom: 20px;
}

.midi-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: fit-content;
}

.midi-form-label {
    font-size: 20px;
    margin-bottom: -5px;
}

.midi-advanced-options {
    padding: 20px;
}